.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 600px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 12px 20px;
    border: 2px solid var(--line-grey);
    border-radius: 30px 0 0 30px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
    background-color: rgb(190, 185, 185);
    color: black;
}

.search-bar input[type="text"]::placeholder {
    color: gray;
}

.search-bar input[type="text"]:focus {
    border-color: var(--orange);
    box-shadow: 0 0 8px var(--orange);
}

.search-button {
    padding: 12px 25px;
    border: none;
    background-color: orangered;
    color: #fff;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.search-button:hover {
    color: black;
    background-color: rgb(224, 116, 76);

}
